* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Navigation */

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url("https://img.freepik.com/premium-photo/purple-background-with-purple-background-words-digital-it_900958-35476.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.logo {
  width: 70px;
  height: 50px;
  border-radius: 10px;
}

/* .navbar {
}

.navi {
  display: flex;
  justify-content: space-around;
  width: 400px;
  
} */

.navi li {
  list-style: none;
  font-weight: 600;
}

.navi {
  display: flex;
  width: 40%;
  justify-content: space-around;
}
.navi li {
  list-style: none;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.navi li:nth-child(2) {
  text-decoration: none;
  color: white;
}
.loginBtn {
  background-color: #6741d9;
  color: white;
  border: none;
  padding: 7px 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 13px;
}

.authLink {
  text-decoration: none;
  color: white;
}

/* --------------------------------------Hero----------------------------------------- */

.home {
  height: 80vh;

  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url("https://img.freepik.com/premium-photo/purple-background-with-purple-background-words-digital-it_900958-35476.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.homeimg {
  width: 40%;
}
.homeimg img {
  width: 100%;
  border-radius: 10px;
}

.homep {
  color: white;
}

.homep p {
  font-size: 13px;
}
.homep h1 {
  margin: 20px 0;
}

.homep button {
  margin-top: 25px;
  background-color: white;
  padding: 10px 15px;
  border: none;
  font-weight: 700;
  border-radius: 10px;
}

.hero {
  position: relative;
  margin-bottom: 200px;
}

.hero img {
  width: 80%;
  height: 500px;
  margin-top: 20px;
  border-radius: 10px;
}

.box {
  display: flex;
  justify-content: center;
}

.herodesc {
  width: 50%;
  height: 420px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 35%;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);
}
.herodesc h1 {
  margin: 20px 0px;
}
.span1 {
  font-weight: 700;
}

.herodesc button {
  margin: 20px 0px;
  padding: 10px 15px;
  border: 1px solid #6741d9;
  background-color: white;
  color: #6741d9;
  border-radius: 10px;
}

.pop {
  padding: 13px;
  border-radius: 10px;
}

.pop {
  width: 26%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid black;
}

.popb {
  width: 28%;
  margin-bottom: 20px;
  padding: 15px;
  padding: 13px;
  border-radius: 10px;
  height: auto;
}
.popb p {
  font-size: 14px;
}

.popb h2 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.popb img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

.type {
  margin-right: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.pop img {
  width: 100%;
  height: 50%;
  border-radius: 15px;
  margin-bottom: 12px;
}

.pop h2 {
  margin: 15px 0;
  font-size: 17px;
}
.pop q {
  margin-top: 60px;
}

.type {
}

.popularboxes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.popularboxesb {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 85%;
  margin: 0 auto;
  margin-top: 50px;
}
.sec1 {
}

.popb {
  padding: 10px;
}
.popb a {
  color: #7048e8;
  margin-top: 20px;
  display: block;
  text-decoration: none;
}
.popularpost h1 {
  margin-left: 40px;
  margin-bottom: 30px;
}
/*--------------------------------Footer-------------------------------------- */
.footer {
  height: 350px;

  /* margin-top: 30px; */
  background-color: #dbe4ff;
  padding: 20px;
  color: black;
  border-radius: 10px;
}

.pe {
  text-align: center;
  margin-top: 30px;
  font-size: 40px;
}

.footer ul {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.footer ul a {
  text-decoration: none;
  color: black;
  font-size: 21px;
}

.socials button {
  height: 50px;
  width: 50px;
  background-color: #7048e8;
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 17px;
}

.socials {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 20px;
  flex-wrap: wrap;
}

.blo {
  text-decoration: none;
  color: white;
}

/* ------------- */
.sbox {
  height: 300px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e9ecef;
}

.search {
  width: 400px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: none;
}
.sp {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
  color: #adb5bd;
}

.sbox h1 {
  font-weight: 400;
}

.sp2 {
  text-align: center;
  color: black;
  margin-top: 20px;
}

/* ---------------------------------------------vbox---------------------------------------------- */

.vbox {
  height: 95vh;

  padding: 20px;
  background-color: #f1f3f5;
}
.vbox h2 {
  margin-top: 20px;
}

.v {
  margin-left: 100px;
}
.vi {
  font-size: 16px;
}

.vimg {
  height: 400px;
  width: 60%;
  margin: 0 auto;
}

.vimg {
  margin-top: 20px;
}

.vimg img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.vboxp {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}

.vboxp p {
  margin-bottom: 40px;
}

.vc img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.vc {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.vc button {
  padding: 10px 15px;
  background-color: #5c7cfa;
  color: white;
  border: none;
  border-radius: 10px;
  margin-left: 15px;
  cursor: pointer;
}

.poppost {
  margin-top: 100px;
}

.poppost h1 {
  text-align: center;
}

.wrapper {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border-radius: 10px;
  padding: 30px 40px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10p rgba(0, 0, 0, 0.2);
  background: url("https://t3.ftcdn.net/jpg/03/55/60/70/360_F_355607062_zYMS8jaz4SfoykpWz5oViRVKL32IabTP.jpg");
}
.wrapper form {
  padding: 40px;
  background-color: white;

  border-radius: 10px;
}

.wrapper h1 {
  font-size: 36px;
  align-items: center;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;

  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;

  outline: none;

  border-radius: 40px;
  font-size: 16px;
  color: black;
  padding: 20px 45px 20px 20px;
  border: 1px solid grey;
  background-color: #dbe4ff;
}

.input-box input::placeholder {
  color: black;
}

.input-box .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 4px;
}

.remember-forgot a {
  color: black;
  text-decoration: none;
}
.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper button {
  width: 100%;
  height: 45px;
  background: #343a40;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: white;
  font-weight: 700;
  margin-bottom: 30px;
}
.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px 0 15px;
}

.register-link p a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

.regBox {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dbe4ff;
}
.regForm input {
  display: block;
  width: 600px;
  padding: 10px;
  border: none;
  margin-bottom: 13px;
  border-radius: 10px;
}

.regForm h1 {
  margin-bottom: 20px;
}

.regBtn {
  padding: 7px 11px;
  border: none;
  color: white;
  background-color: #343a40;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.lognav {
  text-decoration: none;
  color: #6741d9;
  font-weight: 600;
}

/* Authors List */
.authbox {
  height: 100%;

  display: flex;
  width: 85%;
  margin: 0 auto;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 50px;
  padding-top: 30px;
  gap: 30px;
}

.auth {
  width: 22%;
  height: 80px;
  display: flex;
  gap: 30px;
  margin-top: 25px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #fff;
  cursor: pointer;
}

.authimg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  /* border: 1px solid black; */
}
.authimg img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.authors {
  width: 100%;
  background-color: #edf2ff;
  padding-top: 20px;
}

.authors h1 {
  text-align: center;
}

.authp p {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
.authp h3 {
  font-size: 18px;
}

.lip {
  text-decoration: none;
}
/*------------------------------------Auth Project---------------------------------------- */
/* .authProject {
  height: 100%;
}

.authrow {
  height: 60px;
  border: 1px solid grey;

  margin-top: 30px;
} */

/* .authtable {
  border: 1px solid black;
} */

/* .authtable tr {
  border: 1px solid black;
} */

/* --------------------------------------Authors Post ---------------------------------------- */
.table {
  width: 100%;
  /* margin: 70px 70px auto; */
}

.table td {
  height: 70px;
  padding: 10px;
}

.timgs {
  height: 60px;
  width: 90px;
  border-radius: 10px;
}

.p {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 600;
}

.tdesc p {
  font-weight: 600;
}
.authpost {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
  align-items: center;
  padding-left: 20px;
}

.btnc {
  padding: 10px;
  background-color: #5c7cfa;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.btnp {
  padding: 10px;
  background-color: #1971c2;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.btnd {
  padding: 10px;
  background-color: #e03131;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* -------------------------------create Box---------------------------- */

/* .createpost h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
}
.createpost {
  background-color: #f3f0ff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  align-items: center;
}

.createpost input {
  width: 300px;
  padding: 7px;
  border: none;
  border-radius: 7px;
  margin-bottom: 15px;
}
.cb {
  width: 700px;
}

.cpbox {
  height: 200px;
  background-color: white;
}

*/
.create-box {
  height: 100%;
  background-color: #f3f0ff;
}

.create-box h1 {
  text-align: center;
  /* margin-top: 40px; */
  padding-top: 30px;
  margin-bottom: 30px;
}

.cpbox {
  width: 600px;
  height: 200px;
  padding: 20px;
  background-color: white;
}

.btnu {
  display: block;
  width: 70px;
  margin-top: 20px;
  padding: 5px 8px;
  background-color: #1971c2;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.btnu:nth-child(2) {
  background-color: red;
}
.createpost .input {
  width: 450px;
  padding: 7px;
  border: none;
  border-radius: 7px;
  margin-bottom: 15px;
  display: block;
}

.cpb {
  display: flex;
  justify-content: center;
}

.createpost {
  margin-bottom: 70px;
}

.pic {
  padding: 20px;
  background-color: white;
  border: none;
  width: 300px;
  margin-top: 50px;
}

.imgt {
  color: red;
  font-weight: 700;
}

/* ////////////////////////////////////////// */

.cancel-btn {
  background-color: red;
  padding: 7px 11px;
  border-radius: 8px;
  border: none;
  color: white;
}

.db {
  display: flex;
  gap: 15px;
}

/* //////////////////////////////////////////////////////////////////// */
.modal {
  /* width: 100%; */
}

.modal img {
  width: 100%;
}

.modal .c {
  font-size: 20px;
  font-weight: 600;
  margin-right: 20px;
  text-transform: uppercase;
}

/* ----------------------------------------------------------------------- */

.userblog {
  width: 27%;

  padding: 13px;
  margin-bottom: 40px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.userblog img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

.s1 {
  margin-top: 10px;
}

.uc {
  font-weight: 700;
  margin-right: 20px;
}

.s2 {
  font-weight: 600;
}

.popularboxesu {
  width: 85%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
}

/* -------------------------------------Update------------------------------------ */
.updateBox {
  padding: 5px;
  width: 55%;
  margin-bottom: 10px;
}

.editText {
  max-width: 75%;
  height: 150px;
  padding: 5px;
}

.editModal {
  /* background-color: transparent; */
}

.eimg {
  margin-top: 10px;
}

.bod {
  display: flex;
  flex-direction: column;
}

#check {
  display: none;
}

.icons .menu {
  display: none;
  font-size: 30px;
  cursor: pointer;
}
.icons .cross {
  display: none;
  font-size: 20px;
  cursor: pointer;
}

.nav {
  position: relative;
}

/* ----------------------------------------------------------------------------------- */
/*------------------------------------ Media Queries---------------------------- */
/* @media (max-width: 770px) {
  .navi {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: 30px;
    height: 30vh;
    padding-bottom: 30px;
    display: block;
  }

  .navi li {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
  .icons .menu {
    display: block;
    cursor: pointer;
  }
  #check:checked ~ .icons .menu {
    display: none;
  }

  #check:checked ~ .icons .cross {
    display: block;
  }

  #check:checked ~ .navi {
    display: block;
  }
} */

@media (max-width: 770px) {
  .rli {
    font-size: 13px;
  }
  .loginBtn {
    padding: 5px;
  }
  .navi {
    width: 60%;
  }
}

@media (max-width: 430px) {
  .navi {
    width: 100%;
    margin-top: 30px;
  }
}

@media (max-width: 300px) {
  .rli {
    font-size: 10px;
  }
}

@media (max-width: 970px) {
  .popb {
    width: 45%;
  }

  .home {
    padding-left: 10px;
  }

  .homeimg {
    width: 50%;
  }

  .userblog {
    width: 45%;
    border-radius: 10px;
  }
}

@media (max-width: 860px) {
  .home {
    display: block;
    height: 85vh;
  }
  .homeimg {
    width: 90%;
    margin-top: 30px;
  }
  .homeimg img {
    height: 300px;
  }
  .homep h1 {
    font-size: 20px;
  }

  .herodesc h1 {
    font-size: 20px;
  }
  .herodesc p {
    font-size: 14px;
  }

  .hero img {
    width: 90%;
  }
}

@media (max-width: 770px) {
  .popularboxes {
    display: block;
    width: 100%;
  }

  .popb {
    width: 85%;
    margin: 0 auto;
  }
  .popularboxesu {
    width: 90%;
  }
  .vimg {
    width: 90%;
  }
  .regForm input {
    width: 500px;
  }
}

@media (max-width: 520px) {
  .aread {
    padding: 5px;
    font-size: 12px;
  }

  .homeimg img {
    height: 230px;
  }
  .herodesc {
    top: 45%;
    width: 70%;
    left: 10%;
  }

  .ubd,
  .ube {
    padding: 10px;
    font-size: 12px;
  }

  .userblog {
    width: 90%;
  }

  .regForm input {
    width: 340px;
  }
}

@media (max-width: 230px) {
  .homeimg img {
    height: 150px;
  }

  .btnc {
    padding: 5px 7px;
    font-size: 14px;
  }
}

@media (max-width: 380px) {
  .herodesc {
    width: 90%;
    left: 5%;
    height: 300px;
  }
  .herodesc h1 {
    font-size: 16px;
  }
  .herodesc p {
    font-size: 10px;
  }

  .bdan {
    padding: 5px 7px;
    font-size: 12px;
  }
  .authpost {
    display: block;
  }

  .btnc {
    padding: 10px;
    font-size: 14px;
    margin-top: 20px;
    border-radius: 5px;
  }

  .regForm input {
    width: 90%;
  }
}

@media (max-width: 280px) {
  .herodesc {
    display: none;
  }

  .footer {
    height: auto;
  }
  .sbox {
    height: 370px;
  }
}

/* This is The best */
@media (max-width: 480px) {
  .pe {
    font-size: 20px;
  }

  .footer ul a {
    font-size: 16px;
  }

  .socials button {
    height: 30px;
    width: 30px;
    font-size: 13px;
  }

  .search {
    width: 90%;
  }

  .sbox {
    padding: 10px;
  }
  .sbox h1 {
    font-size: 20px;
    font-weight: 600;
  }
  .sp2 {
    font-size: 14px;
  }

  .createpost .input {
    width: 90%;
    margin: 10px auto;
    padding-left: 20px;
  }

  .db {
    display: flex;
    justify-content: center;
  }

  .vimg img {
    height: 300px;
    margin-top: 20px;
  }

  .vboxp {
    width: 95%;
  }
  .v {
    margin-left: 20px;
  }

  .v {
    font-size: 20px;
  }

  .updateBox {
    width: 85%;
  }
  .editText {
    max-width: 90%;
  }
}
